﻿<div class="contentbox">
    <div class="operation">
        <ul class="tga4">
            <li><button class="seditbtn" id="addSameBtn">添加同级</button></li>
            <li><button class="seditbtn" id="addSubBtn">添加下级</button></li>
            <li><button class="sdelbtn" id="editBtn">编辑</button></li>
            <li><button class="sdelbtn" id="deleteBtn">删除</button></li>
        </ul>
        <div class="clear"></div>
    </div>

</div>
<div>
    <div id="resourceTree" class="ztree" style=""></div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
            <input type="hidden" id="id" name="id" />
            <input type="hidden" id="parentId" name="parentId" />
            <dl><dt>上级名称</dt><dd><p><span id="parent"></span></p></dd></dl>
            <dl><dt>名称</dt><dd><input type="text" class="entrytxt" id="name" placeholder="请输入名称" /><span class="erase"><i class="fa fa-times-circle-o"></i></span></dd></dl>
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
