﻿<div class="applink">
    <ul class="tga4" id="fastMenu">
        <li dataurl="#Register" style="display:none;"><a href="#Register"><img src="/Content/APP/Admin/images/iconapp1.png" /><p>新会员注册</p></a></li>
        <li dataurl="#DirectTree" style="display:none;"><a href="#DirectTree"><img src="/Content/APP/Admin/images/iconapp2.png" /><p>直推图</p></a></li>
        <li dataurl="#FamilyTree" style="display:none;"><a href="#FamilyTree"><img src="/Content/APP/Admin/images/iconapp3.png" /><p>系谱图</p></a></li>
        <li dataurl="#Order" style="display:none;"><a href="#Order"><img src="/Content/APP/Admin/images/iconapp4.png" /><p>订单管理</p></a></li>
        <li dataurl="#Charge" style="display:none;"><a href="#Charge"><img src="/Content/APP/Admin/images/iconapp5.png" /><p>充值管理</p></a></li>
        <li dataurl="#Currency" style="display:none;"><a href="#Currency"><img src="/Content/APP/Admin/images/iconapp6.png" /><p>奖金查询</p></a></li>
        <li dataurl="#TakeCash" style="display:none;"><a href="#TakeCash"><img src="/Content/APP/Admin/images/iconapp7.png" /><p>提现管理</p></a></li>
        <li><a href="javascript:void(0);" id="exitBtn"><img src="/Content/APP/Admin/images/iconapp8.png" /><p>安全退出</p></a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="bigtitle">
    <h2>待处理事项</h2>
    <div class="clear"></div>
</div>

<div class="pending" id="waitOperateDiv">
    <div class="pendingli" dataurl="#MemberPassing" style="display:none;">
        <a href="#MemberPassing">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon1.png" />待开通会员</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="MemberUl"></ul>
            </div>
        </a>
    </div>
    <div class="pendingli" dataurl="#TakeCash" style="display:none;">
        <a href="#TakeCash">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />提现金额申请</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="TakeCashUl"></ul>
            </div>
        </a>
    </div>
    <div class="pendingli" dataurl="#ShopPassing" style="display:none;">
        <a href="#ShopPassing">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon3.png" />报单中心申请</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="shopMemberUl"></ul>
            </div>
        </a>
    </div>
    <div class="pendingli" dataurl="#Charge" style="display:none;">
        <a href="#Charge">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />点值充值申请</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="waitChargeUl"></ul>
            </div>
        </a>
    </div>
    <div class="pendingli" dataurl="#EmailBox" style="display:none;">
        <a href="#EmailBox">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />新邮件 <span id="emailCount">2</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul></ul>
            </div>
        </a>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">您确定退出登录吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定退出</button>
        </div>
    </div>
</div>