﻿<div class="userinfo">
    <div class="avatar">
        <img src="/Content/APP/User/images/logo2.png" />
        <div class="level" id="ulevel">会員の等級</div>
    </div>
    <h2 id="userName">会員名</h2>
    <h4 id="userId">会員番号：SD2368</h4>
</div>
<div class="userassets">
    <ul class="tga4">
        <li><span id="agentMoby" style="font-size:1.4rem;">451321.00</span><p>BPX</p></li>
        <li><span id="agentTod" style="font-size: 1.4rem;">984.00</span><p>TOD貨幣</p></li>
        <li><span id="agentDhm" style="font-size: 1.4rem;">45748.00</span><p>兌換コード</p></li>
        <li><span id="agentTocc" style="font-size: 1.4rem;">45748.00</span><p>TOCC</p></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="navicon ucentericon">
    <ul class="tga3" id="itemCont"></ul>
    <div class="clear"></div>
</div>

