﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">記事リスト</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">文章を発表する</a></li>
    </ul>
</div>

<div class="contentbox" id="mainDiv">
    <div class="datalist" id="Infodatalist">
        <ul id="InfoitemList"></ul>
    </div>
</div>
<!--確認提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">削除しますか？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">確認</button>
        </div>
    </div>
</div>
<div class="contentbox" id="deployDiv" style="display:none;">
    <div class="entryinfo">
        <input type="hidden" id="id" />
        <input type="hidden" id="imgUrl" name="imgUrl" />
        <dl>
            <dt>カテゴリ</dt>
            <dd>
                <input type="hidden" id="fltypeId" value="1" />
                <input type="text" class="entrytxt" id="fltype" placeholder="最新情報" value="最新情報" readonly />
            </dd>
        </dl>
        <dl>
            <dt>タイトル</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="タイトル" id="Infotitle" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>概要</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="概要" id="infoJj" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div style="width:98%;padding-left:1%;"><div id="editor" style="height:25rem;"></div></div>
    </div>
    <div class="btnbox">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">戻る</button></li>
            <li><button class="smallbtn" id="saveInfoBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
