﻿<div id="lemeinfo">
    <input type="hidden" id="id" name="id" />
    <div class="entryinfo">
        <dl style="display:none;">
            <dt>会員番号</dt>
            <dd>
                <p><span id="userId"></span></p>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>会員レベル</dt>
            <dd>
                <p id="uLevel"></p>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>接点人番号</dt>
            <dd>
                <p id="fatherName"></p>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>エリアを置く</dt>
            <dd>
                <p id="treePlace"></p>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>推薦者番号</dt>
            <dd>
                <p><span id="reName"></span></p>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>申込センター</dt>
            <dd>
                <p><span id="shopName"></span></p>
            </dd>
        </dl>
        <div class="userdltl">基本的な資料</div>
        <dl>
            <dt>実名</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="userName" name="userName" placeholder="実名を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>ID番号/パスポート番号</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="code" name="code" placeholder="ID番号/パスポート番号を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>携帯の番号</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="phone" name="phone" placeholder="携帯電話の番号を入力してください" maxlength="11" emptymsg="携帯電話の番号を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>国家地区</dt>
            <dd>
                <input type="text" class="entrytxt area" id="bankAddress" name="bankAddress" placeholder="国家地区を選んでください" readonly />
            </dd>
        </dl>
        <dl>
            <dt>省</dt>
            <dd>
                <input type="text" class="entrytxt area" id="province" name="province"   />
            </dd>
        </dl>
        <dl>
            <dt>市</dt>
            <dd>
                <input type="text" class="entrytxt area" id="city" name="city"   />
            </dd>
        </dl>
        <dl>
            <dt>エリア</dt>
            <dd>
                <input type="text" class="entrytxt area" id="area" name="area" />
            </dd>
        </dl>
        <dl>
            <dt>詳細住所</dt>
            <dd>
                <input type="text" class="entrytxt" id="address" name="address" placeholder="詳細住所を入力してください"  />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>WeChat/line</dt>
            <dd>
                <input type="text" class="entrytxt" id="qq" name="qq" placeholder="WeChatを入力してください/line" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>メールボックス</dt>
            <dd>
                <input type="text" class="entrytxt" id="email" name="email" placeholder="メールアドレスを入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        
        <div class="userdltl">電子マネーコード</div>
        <dl style="display:none;">
            <dt>銀行を開く</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankName" name="bankName" placeholder="口座開設銀行を選んでください" readonly  />
            </dd>
        </dl>

        <dl style="display:none;">
            <dt>銀行カード番号</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankCard" name="bankCard" placeholder="銀行カード番号を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl style="display:none;">
            <dt>口座を作る</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankUser" name="bankUser" placeholder="口座名を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <!--<dl style="display:none;">
            <dt>開戶支行</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankAddress" name="bankAddress" placeholder="請輸入開戶支行名稱" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>-->

        <dl>
            <dt>TODウォレットアドレス</dt>
            <dd>
                <input type="text" class="entrytxt" id="todAddress" name="todAddress" placeholder="TOD財布の住所を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <dl>
            <dt>TOCCウォレットアドレス</dt>
            <dd>
                <input type="text" class="entrytxt" id="toccAddress" name="toccAddress" placeholder="TOCCウォレットの住所を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        
        <dl>
            <dt>biki手機號</dt>
            <dd>
                <input type="text" class="entrytxt" id="bikicoin" name="bikicoin" placeholder="ビッキ携帯の番号を入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>bikiIDコード</dt>
            <dd>
                <input type="text" class="entrytxt" id="bikiID" name="bikiID" placeholder="bikiIDコードを入力してください" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div class="btnbox">
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" id="saveBtn">保存</button></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>