﻿<div class="userassets userassetss">
    <ul class="tga2">
        <li><span id="agentDz">0</span><p>ポイント残高</p></li>
        <li><span id="nowLevel">0</span><p>現在のレベル</p></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="entryinfo">
    <dl>
        <dt>級を進める</dt>
        <dd>
            <div class="option">
                <ul class="tga3">
                    <li class="disabled" id="lv3"><a href="javascript:changeFunction(3)">普通のカード</a></li>
                    <li id="lv4"><a href="javascript:changeFunction(4)">銀カード</a></li>
                    <li id="lv5"><a href="javascript:changeFunction(5)">ゴールドカード</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--<input type="text" class="entrytxt" id="newId" name="newId" placeholder="请选择开户行" readonly />-->
        </dd>
    </dl>
    <dl>
        <dt>必要なポイント値</dt>
        <dd>
            <p><span id="rmoney"></span></p>
        </dd>
    </dl>

    <div class="btnbox">
        <button class="smallbtn" id="saveBtn">申請を出す</button>
    </div>
</div>
<div class="datalist" id="UMemberUpdatalist">
    <ul id="UMemberUpitemList"></ul>
</div>

<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">昇進の確認</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist" id="prompCont">
            <ul>
                <li>
                    <input type="hidden" id="newId"/>
                    <dl>
                        <dt>級を進める</dt>
                        <dd><span id="jsjb">0</span></dd>
                    </dl>

                    <dl>
                        <dt>必要なポイント値</dt>
                        <dd><span id="sxdzb">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">昇進をかくていする</button>
        </div>
    </div>
</div>

