﻿
<div class="userassets">
    <ul class="tga2">
        <li><span id="agentTod"></span><p>TOD幣</p></li>
        <li><span id="agentMoby"></span><p>BPX</p></li>
    </ul>
    <div class="clear"></div>
    <ul class="tga3">
        <li><span id="agentFhz"></span><p>分紅值</p></li>
        <li><span id="agentDhm"></span><p>兌換碼</p></li>
        <li><span id="agentTocc"></span><p>TOCC</p></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="navicon ucentericon">
    <ul class="tga3" id="itemCont">
    </ul>
    <div class="clear"></div>
</div>
<style type="text/css">
    .bigtitle {
        background: #fff;
        padding: 1rem;
        height: 3.2rem;
        box-sizing: border-box;
    }

        .bigtitle h2 {
            float: left;
            font-size: 1rem;
            color: #53595e;
            padding-left: 0.6rem;
            border-left: solid 0.3rem #ddb86b;
        }

</style>
<div class="bigtitle" style="display:none;">
    <h2>EP交易</h2>
    <div class="clear"></div>
</div>
<input type="hidden" id="bankName"  />
<input type="hidden" id="bankCard" />
<input type="hidden" id="bankUser"  />
<input type="hidden" id="bankAddress" />
<div class="navicon ucentericon" style="display:none;">
    <ul class="tga3" id="epCont">
        <!--<li><a href="挂卖记录.html"><i class="fa fa-copy"></i><p>挂卖记录</p></a></li>
        <li><a href="回购记录.html"><i class="fa fa-reply-all"></i><p>回购记录</p><span>9</span></a></li>-->
    </ul>
    <div class="clear"></div>
</div>

<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header id="div_header">
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>提示信息</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
            <div class="tipslistbox">
                <div class="tipslisttl" style="    font-size: 1.3rem;  line-height: 2.4rem;  border-bottom: solid 0.1rem #272624;  margin-bottom: 0.6rem;">待處理事項：</div>
                <div class="tipslist">
                    <p style="    color: #52c1fb;  font-size: 1.3rem;  line-height: 1.8rem;">請先完善銀行信息</p>  <a href="#UMemberInfo">馬上完善</a>
                </div>
            </div>
        </div>
        
    </div>
</div>