﻿<div class="banner">
    <div class="main_visual">
        <div class="flickingbox">
            <div class="flicking_con">
                <a class=""></a>
                <a class="on"></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
            </div>
        </div>
        <div class="main_image">
            <ul id="slides">

            </ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div>
</div>

<div class="mainuser">
    <div class="title">
        <h2><span id="userId">会員番号</span>|<span id="uLevel" class="level">会員の等級</span>|<span id="rLevel" class="honor">未解決の段階</span>いらっしゃいませ！</h2>
        <h5><a href="javascript:void(0);" id="exitSystem1">終了</a></h5>
        <div class="clear"></div>
    </div>
   
    <div class="assets" >
        <ul class="tga2">
            <li><p><img src="/Content/APP/User/images/miniicon3.png">BPX</p><span id="agentMoby">451321.00</span></li>
            <li><p><img src="/Content/APP/User/images/miniicon4.png">TOD貨幣</p><span id="agentTod">984.00</span></li>
            <li><p><img src="/Content/APP/User/images/miniicon5.png">兌換コード</p><span id="agentDhm">45748.00</span></li>
            <li><p><img src="/Content/APP/User/images/miniicon6.png">TOCC</p><span id="agentTocc">58451.00</span></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

<div class="mnewslist">
    <ul id="newsItem">
        <!--<li><a href="新闻详细.html">热烈祝贺会员管理系统上线，注册会员送888元新人礼包</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">会员管理系统内测，推荐新人可获得188元推荐礼包</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">系统升级，暂停服务，带来不变请谅解</a><time>2017/11/02 08:00</time></li>
        <li><a href="新闻详细.html">政府新闻发布会指定会员管理系统为高新科技产品</a><time>2017/11/02 08:00</time></li>-->
    </ul>
    <script type="text/javascript">
        $(function () {
            var scrollDiv = $(".mnewslist"),
            $ul = scrollDiv.find("ul"),
            $li = scrollDiv.find("li"),
            $length = $li.length,
            $liHeight = $li.height(),
            num = 0;

            if (scrollDiv.length == 0) {
                return;
            }

            if ($length > 1) {
                $ul.append($li.eq(0).clone());
                setInterval(
                    function () {
                        num++;
                        $ul.addClass("animate").css("-webkit-transform", "translateY(-" + $liHeight * (num) + "px)");
                        setTimeout(
                            function () {
                                if (num == $length) {
                                    $ul.removeClass("animate").css("-webkit-transform", "translateY(0)");
                                    num = 0;
                                }
                            }, 300);
                    }, 3000);
            }
        });
    </script>
</div>

<div class="applink">
    <ul class="tga3">
        <li><a href="#UDirectTree"><img src="/Content/APP/User/images/iconapp1.png" /><p>直進図</p></a></li>
        <li><a href="#UFamilyTree"><img src="/Content/APP/User/images/iconapp2.png" /><p>系図</p></a></li>
        <li><a href="#UChargesl"><img src="/Content/APP/User/images/iconapp3.png" /><p>計算力</p></a></li>

        <li><a href="#UCharge"><img src="/Content/APP/User/images/iconapp4.png" /><p>口座チャージ</p></a></li>
        <li><a href="#UCurrency"><img src="/Content/APP/User/images/iconapp5.png" /><p>収益照会</p></a></li>
        <li><a href="#UMTransfer"><img src="/Content/APP/User/images/iconapp6.png" /><p>口座振替</p></a></li>


        <li onclick="ShowTakeCash()"><img src="/Content/APP/User/images/iconapp7.png" /><p>会員が現金に換える</p></li>
        <li><a href="#fenxiang"><img src="/Content/APP/User/images/iconapp8.png" /><p>共有を広める</p></a></li>
        <li><a href="javascript:void(0);" id="exitSystem"><img src="/Content/APP/User/images/iconapp9.png" /><p>安全に脱退する</p></a></li>
    </ul>
    <div class="clear"></div>
</div>


<input type="hidden" id="bankName"  />
<input type="hidden" id="bankCard" />
<input type="hidden" id="bankUser"  />
<input type="hidden" id="bankAddress" />
<!--确认提示框-->
<div class="promptbg" style="z-index:9000; color:#fff;">
    <div class="promptbgbox">
        <header>
            <div class="">
                
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">本当にログインを終了しますか？？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
            <div class="tipslistbox">
                <div class="tipslisttl" style="    font-size: 1.3rem;  line-height: 2.4rem;  border-bottom: solid 0.1rem #272624; color:#333;  margin-bottom: 0.6rem;">未処理事項：</div>
                <div class="tipslist">
                    <p style="    color: #52c1fb;  font-size: 1.3rem;  line-height: 1.8rem;">請先完善銀行信息まず銀行情報を充実させてください</p>  <a href="#UMemberInfo">すぐ完璧になります</a>
                </div>
            </div>
        </div>
        <div class="btnbox" id="btnbox" style="padding:30px;display:block;">
            <button class="smallbtn" id="sureBtn">終了を確定する</button>
        </div>
    </div>
</div>


