﻿<div class="promptbox" id="agent2" >
    <div class="promptcont">
        <div class="prompticon">
            <i class="fa fa-lock"></i>
        </div>
        <div class="prompttext">
            <h2 id="shopName2">您無權訪問</h2>
        </div>
    </div>
</div>