﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">

            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="開始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="結束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>
    <div class="newslist" id="UAricledatalist">
        <ul id="UAricleitemList"></ul>
    </div>
</div>
