﻿<div class="contentbox">
    <div class="operating">
        <div class="searchbox">
            <!--<input type="text" class="searchtext" placeholder="會員編號" />-->
            <table>
                <tr>
                    <td style="width:39%"><input type="text" class="searchtext" style="width:100%" id="userId" placeholder="會員編號" /></td>
                    <td style="width:30%"><button class="operatebtn" id="queryBtn" style="width:100%">搜索</button></td>
                    <td style="width:30%"><button class="operatebtn" id="selfBtn" style="width:100%">我的直推圖</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
    </div>


    <!--<div class="datalist">
        <div class="zTreeDemoBackground left">
            <div id="resourceTree" class="ztree" style=""></div>
        </div>
    </div>-->
</div>
<div class="usertree" id="usertree">
</div>

