﻿<article id="article">
  
</article>
<input type="hidden" id="infoId" />
<input type="hidden" id="dzcount" />
<div class="aider newsaider" id="aider">
    <span class="source">Bioplus 01-25 or 1小时前</span>
    <div class="interactive">
        <span class="reading">851</span>
        <span class="comment">845</span>
        <span class="great">232</span>
    </div>
    <div class="clear"></div>
</div>


<div class="appraisal">
    <a href="javascript:plDZ();" class="givegreat">點贊</a>
    <a href="javascript:plDP();" class="givescoff">點貶</a>
</div>


<div class="interactivebox">

    <div class="leavebox">
        <ul id="leavebox">
            <li>
                <div class="aider">
                    <span class="source">Bioplus 01-25 or 1小时前</span>
                    <div class="interactive">
                        <span class="great">232</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <p class="leavemes">留言信息评论内容</p>
            </li>
        </ul>
    </div>

   
   

</div>

  

<div class="replybox newrep">
    <div contenteditable="true" class="txtabox" id="infoplcontent"></div>
    <button class="btnreply" id="btnreply">評論</button>
    <div class="clear"></div>
</div>


