﻿<div class="userassets userassetss">
    <ul class="tga2">
        <li><span id="agentDz">0</span><p>点值余额</p></li>
        <li><span id="nowLevel">0</span><p>当前级别</p></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="entryinfo">
    <dl>
        <dt>晋升级别</dt>
        <dd>
            <div class="option">
                <ul class="tga3">
                    <li class="disabled" id="lv3"><a href="javascript:changeFunction(3)">普卡</a></li>
                    <li id="lv4"><a href="javascript:changeFunction(4)">银卡</a></li>
                    <li id="lv5"><a href="javascript:changeFunction(5)">金卡</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--<input type="text" class="entrytxt" id="newId" name="newId" placeholder="请选择开户行" readonly />-->
        </dd>
    </dl>
    <dl>
        <dt>所需点值</dt>
        <dd>
            <p><span id="rmoney"></span></p>
        </dd>
    </dl>

    <div class="btnbox">
        <button class="smallbtn" id="saveBtn">提交申请</button>
    </div>
</div>
<div class="datalist" id="UMemberUpdatalist">
    <ul id="UMemberUpitemList"></ul>
</div>

<!--确认提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">晋升确认</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist" id="prompCont">
            <ul>
                <li>
                    <input type="hidden" id="newId"/>
                    <dl>
                        <dt>晋升级别</dt>
                        <dd><span id="jsjb">0</span></dd>
                    </dl>

                    <dl>
                        <dt>所需点值</dt>
                        <dd><span id="sxdzb">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">确定晋升</button>
        </div>
    </div>
</div>

