﻿<div class="entryinfo" id="passDiv1">
    <dl style="display:none" id="fristQuestion">
        <dt>秘密保護の問題</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="question" name="question" placeholder="セキュリティ問題を選択してください" emptymsg="セキュリティ問題を選択してください" />
        </dd>

    </dl>
    <dl style="display:none" id="oldQuestion">
        <dt>秘密保護の問題</dt>
        <dd>
            <p id="questionVal"></p>
        </dd>
    </dl>
    <dl id="oldDiv" style="display:none;">
        <dt>古い秘密保護の答え</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="oldAnswer" name="oldAnswer" placeholder="古い秘密保護の答え" emptymsg="古い秘密保護の答えは空ではだめです" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <dl id="oldDiv">
        <dt>秘密裏の答え</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="answer" name="answer" placeholder="秘密裏の答え" emptymsg="秘密保護の答えは空ではない" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div class="btnbox">
        <button class="bigbtn" id="saveBtn">設定を保存</button>
    </div>
</div>