﻿@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:Arial,'PingFang SC','微软雅黑'; list-style:none; font-weight:normal;transition:width 0.5s, height 0.5s,background 0.5s, transform 0.5s, border 0.5s, box-shadow 0.5s, opacity 0.5s, bottom 0.5s;}
html{font-size:10px; height:100%;}
input, textarea, keygen, select, button{ font:1rem Arial;}
body{ height:100%; background:#252525; background-size:cover; color:#dfb772}
@media (min-width: 90px){html{ font-size:2.5px;}}
@media (min-width: 180px){html{ font-size:5px;}}
@media (min-width: 240px){html{ font-size:6.66px;}}
@media (min-width: 270px){html{ font-size:7.5px;}}
@media (min-width: 320px){html{ font-size:8.8px;}}
@media (min-width: 360px){html{ font-size:10px;}}
@media (min-width: 375px){html{ font-size:10.4px;}}
@media (min-width: 393px){html{ font-size:11px;}}
@media (min-width: 414px){html{ font-size:11.5px;}}
@media (min-width: 480px){html{ font-size:13.33px;}}
@media (min-width: 540px){html{ font-size:15px;}}
@media (min-width: 720px){html{ font-size:20px;}}
@media (min-width: 900px){html{ font-size:25px;}}
@media (min-width: 1080px){html{ font-size:30px;}}

a{ text-decoration:none; color:#deb774;}
a:active{ color:#ffd881;}
input[type="text"],input[type="password"],select{position:relative; z-index:10; background:rgba(255,255,255,0); border:solid 0.1rem rgba(255,255,255,0.2); box-sizing:border-box; outline:none;-webkit-appearance:none; color:#deb774;}
input[type="text"]:focus,input[type="password"]:focus,select:focus{ background:rgba(12,1,22,0); box-shadow:0px 0px 0.5rem rgba(222,183,116,0.8); border:solid 0.1rem rgba(222,183,116,0.8); border-radius:0.4rem; z-index:20}
input::-webkit-input-placeholder { color:#75582b}

.fleft{ float: left;}
.fright{ float:right;}
.clear{clear:both; line-height:0; font-size:0px; height:0;}

/* 页头 */
header{ height:4.4rem; background:none; -border-bottom:0.15rem solid #23232b; overflow:hidden;}
header .backicon img, header .shareicon img, header .homeicon img,header .dellink img{width:2rem; height:2rem; font-size:0;}
header .backicon{ float:left; box-sizing:border-box; padding:1.2rem 0.4rem 1.2rem 1rem; background:url(../images/btnbackw.png) no-repeat center center; background-size:2rem 2rem;}
header .shareicon{ float:right;box-sizing:border-box; padding:1.2rem;}
header .homeicon{ float:right;box-sizing:border-box; padding:1.2rem; background:url(../images/homew.png) no-repeat center center; background-size:2rem 2rem;}
header h2{ font-size:1.6rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#deb774;}
header h3{ font-size:1.6rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#deb774; text-align:center;}
header .dellink{ float:right; line-height:2rem; padding:1.2rem; font-size:1.6rem; color:#ecae33}

article{ padding:1rem 2rem;}
article h1{ font-size:2rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#ffd881;}
article h5{ font-size:1.2rem; text-align:center; color:#998256; margin-bottom:1rem;}
article p{font-size:1.4rem; line-height:2.4rem; text-indent:2.4rem; margin-bottom:1.2rem;}
section{ padding:1rem;}
section h1{ font-size:1.8rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#ffd881;}
section p{ font-size:1.2rem; line-height:2.2rem;}

/* 页脚导航 */
footer{ position:fixed; height:5rem; background:#303030; background-size:100% 100%; left:0; bottom:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
footer li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative;}
footer li a{ color:#deb774; padding-top:3.5rem; display:block; opacity: 0.7}
footer li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
footer li img{ width:3rem; margin:0.7rem;}
footer li.active{ opacity: 1;}

footer li:nth-child(1) a{ background:url(../images/iconfoot1.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(2) a{ background:url(../images/iconfoot2.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(3) a{ background:url(../images/iconfoot3s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(4) a{ background:url(../images/iconfoot4.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(5) a{ background:url(../images/iconfoot5.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(1) a{ background:url(../images/iconfoot1s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(2) a{ background:url(../images/iconfoot2s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(3) a{ background:url(../images/iconfoot3s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(4) a{ background:url(../images/iconfoot4s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(5) a{ background:url(../images/iconfoot5s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}






/* 按钮样式 */
.btnbox{ padding:1rem 2rem; -background:#fff;}
.btnbox li{ box-sizing:border-box; padding:0rem 1rem;}

button, input[type="button"]{width:100%; height:3.2rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#303030; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2);  background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem; cursor:pointer}
button.bigbtn, input[type="button"].bigbtn{ background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem; width:100%; height:4rem; border:none; border-radius:2rem; outline:none; font-size:1.5rem; color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
button.cancelbtn, input[type="button"]{ background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem; width:100%; height:4rem; border:none; border-radius:2rem; outline:none; font-size:1.5rem; color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2); }

button.smallbtn, input[type="button"].smallbtn{ background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem; width:100%; height:3.2rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2); }
button.seditbtn, input[type="button"].seditbtn{ outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
button.sdelbtn, input[type="button"].sdelbtn{outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
button.sclreabtn, input[type="button"].sclreabtn{outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}


/* 登录界面 */
.loginbg{ background:#252525 url(../images/loginbg.jpg) center center; background-size:10.55rem  9.1rem; display:flex;}
.loginlogo{ padding:0rem 0rem 16rem 0rem; margin:auto; text-align:center;position:relative;}
.loginlogo img{ width:19rem;}
.loginlogo p{ color:#ffbc1a; font-size:2.6rem; line-height:3rem;}
.loginlogo p span{ color:#ffbc1a}

.loginenter{ width:27rem; box-sizing:border-box; margin:auto; position:relative; z-index:10;}
.loginenter dl{ position:relative; z-index:1; margin-bottom:1rem;}
.loginenter dl dt{ position:absolute; left:0; top:0; height:4.8rem; width:4.8rem; z-index:30;}
.loginenter dl dt img{ width:2rem; height:2rem; padding:1.4rem 1.4rem; box-sizing:content-box; opacity:1}
.loginenter dl dd{ width:27rem; height:4.8rem;}
.loginenter dl dd input{ width:27rem; height:4.8rem; padding:0rem 1rem 0rem 3.6rem; color:#ffd881; background:#191818; background-size:cover; font-size:1.6rem; box-shadow:none; border: solid 0.1rem #a16d37; border-radius: 2.4rem;box-shadow:0rem 0.5rem 1rem rgba(0,0,0,0.4);}
.loginenter dl dd input::-webkit-input-placeholder { color:#75582b}
.loginenter dl dd input:focus{border-radius: 2.4rem; background: #201f1f}
.loginenter dl dd input.entercodetxt{ padding-right:12rem;}
.loginenter dl dd a.rescodeimg{ position:absolute; z-index:21; right:0; top:0; margin-right:1rem; background:url(../images/refresh.png) no-repeat right center; background-clip:padding-box; padding:0.2rem 2.4rem 0.2rem 0.4rem; background-size:2rem 2rem;}
.loginenter dl dd a.rescodeimg img{ width:8rem; height:3.6rem; border-radius:0.3rem;}
.loginenter dl dd span.erase{ position:absolute; z-index:21; font-size:2rem; right:0rem; top:0; padding:1.5rem 1rem; color:#c1980d;}
.loginenter dl dd span.erase img{ width:2rem; height:2rem;}


.loginset{ padding:0.5rem 0; color:#deb774; line-height:1.6rem; font-size:1.2rem; text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}
.loginset input[type="checkbox"]{ width:1.4rem; height:1.4rem; float:left; margin:0.1rem 0.3rem 0 0;}
.loginset label{ float:left;}
.loginset a{ float:right; color:#deb774; text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}

.lbtnbox{ padding:1rem 0 2rem 0; text-align:center;}
button.loginbtn{ background:#deb774 url(../images/btnbg.png) repeat-x top center;background-size:100% 100%; width:27rem; height:5rem; line-height:5rem; border:none; border-radius:2.5rem; outline:none; font-size:1.7rem; color:#432a07; text-shadow:0rem 0.1rem 0rem rgba(255,255,255,0.1);  box-shadow:0rem 0.5rem 1rem rgba(0,0,0,0.4);}
.original{ text-align:center; padding-bottom:1rem; font-size:1.2rem;}
.loginbg .original a{ font-size:1.2rem; color:#deb774;text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}

/* 信息录入 */
.entryinfo{ background:#303030; padding-bottom:0rem; margin:1rem; border-radius:0.4rem;}
.entryinfo dl{position:relative; min-height:5.4rem;}
.entryinfo dl dt{position:absolute; line-height:5.4rem; min-height:5.4rem; padding:0 1rem; z-index:30; color:#998256; font-size:1.3rem;}
.entryinfo dl dd{ position:relative; border-bottom:solid 0.1rem rgba(255,255,255,0.05); min-height:5.4rem;}
.entryinfo dl dd input[type="text"],.entryinfo dl dd input[type="password"]{ width:100%; border:none; height:5.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; color:#deb774;}
.entryinfol dl dd input[type="text"],.entryinfol dl dd input[type="password"]{padding:0rem 1rem 0rem 15rem;}
.entryinfo dl dd select{ width:100%; border:none; height:5.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; background:none;}

.entryinfo dl dd .getcode{ width:10rem; height:4rem; margin:0.8rem; right:0; position:absolute; z-index:30; top:0; background:#ADB4B7; border:solid 1px #899095; font-size:1.4rem; border-radius:0.4rem; outline:none;}
.entryinfo dl dd .getcode:disabled{ background:#D3D8D8; border:solid 0.1rem #ADB4B7}
.entryinfo dl dd p{min-height:3.4rem; padding:1rem 1rem 1rem 10rem; line-height:3.4rem; font-size:1.4rem;}
.entryinfo dl dd p span, .entryinfo dl dd p a{ color:#ffbc1a}

.entryinfo dl dd .richtext{padding:1.6rem 1rem 1.6rem 10rem; box-sizing:border-box; min-height:10rem; max-height:28rem; font-size:1.3rem; user-modify: read-write-plaintext-only; overflow:auto; line-height:2.2rem; outline:none; position:relative;}
.entryinfo dl dd .richtext:focus{box-shadow:0px 0px 0.5rem rgba(254,127,148,0.8); z-index:20}
.entryinfo dl dd span.erase{ position:absolute; z-index:21; font-size:2rem; right:0rem; top:0; padding:1.7rem; color:#666;}
.entryinfo dl dd span.erase img{ width:2rem; height:2rem;}
.entryinfo dl dd.money:after{ content:"元"; position:absolute; right:4rem; top:0rem; color:#999; font-size:1.5rem; z-index:22; line-height:5.4rem;}
.entryinfo dl dd.moneymy:after{ content:"$"; position:absolute; right:4rem; top:0rem; color:#999; font-size:1.5rem; z-index:22; line-height:5.4rem;}

.entryinfo dl dd p label input[type="checkbox"]{ float:left; width:2rem; height:2rem; margin:0.6rem 0.2rem 0rem 0; }

.entryinfo .uploaddiv{min-height:5.4rem; padding:1rem 1rem 1rem 9rem; line-height:3.4rem; font-size:1.6rem;}
.uploadimg{ position:relative; width:16rem; height:9rem; background-color:#eee; overflow:hidden; border-radius:0.3rem; font-size:1.2rem; text-align:center; color:#999; padding:1.5rem 1rem; box-sizing:border-box;}
.uploadimg .uploadimgfile{ position:absolute; z-index:1; background-position:center; background-size:cover; width:16rem; height:9rem; left:0; top:0; display:block;}
.uploadimg i{ font-size:3rem;}
.uploadplug{ position:absolute; display:block; left:0; top:0;width:16rem; height:9rem; opacity:0; z-index:2;}


.maintag{ text-align:center; font-size:1.4rem; height:3rem; padding:1rem;}
.maintag ul{}
.maintag li{line-height:3rem; box-sizing:border-box; border:solid 0.1rem rgba(255,255,255,0.2); background:#303030;}
.maintag li a{ display:block;}
.maintag li a sup{ line-height:0; background:#deb774; padding:0.3rem 0.6rem; text-align:center; margin-left:0.3rem; border-radius:2rem; color:#fff; font-size:1rem;}
.maintag li.active{ background:#deb774; border:solid 0.1rem #ffd881; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15);}
.maintag li.active a{ color:#303030; text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.2); display:block;}
.maintag li.active a sup{ color:#fff; background:#f4776d;}
.maintag li:first-child{ border-radius:0.4rem 0 0 0.4rem;}
.maintag li:last-child{ border-radius:0 0.4rem 0.4rem 0;}



.tga2 li{ float:left; width:50%;}
.tga3 li{ float:left; width:33.33%;}
.tga4 li{ float:left; width:25%;}
.tga5 li{ float:left; width:20%;}
.tga6 li{ float:left; width:16.66%;}
.tga7 li{ float:left; width:14.28%;}
.tga8 li{ float:left; width:1.25%;}

.userdltl{ background:#252525; font-size:1.3rem; padding:1rem 0rem 0.8rem 1rem; border-bottom:solid 0.2rem #deb774}

.tabtga{text-align:center; font-size:1.4rem; height:3.6rem; background:#fff;}
.tabtga ul{ overflow:hidden}
.tabtga ul li{ float:left; line-height:3.6rem; font-size:1.3rem; overflow:hidden; width:50%; text-align:center; border-bottom:solid 0.15rem #dddddd;}
.tabtga ul li.active{ border-bottom:solid 0.15rem #ffbc1a}
.tabtga ul li.active a{ color:#ecae33;}

/* 数据显示 */
.datalist{ padding:1rem;}
.datalist>ul>li{ margin-bottom:1rem; background:#303030; position:relative; border-radius:0.4rem; overflow:hidden}
/* .datalist>ul>li:after{ content:""; border-bottom:dotted 1rem #f2f3f5; position:absolute; bottom:-0.5rem; width:100%; height:0; left:0; } */
.datalist li dl{ overflow:hidden; clear:both; font-size:1.3rem; border-bottom:solid 0.1rem rgba(255,255,255,0.05); padding:0rem 0rem; margin:0 1rem;}
.datalist li dl:last-of-type{border-bottom:solid 0.1rem rgba(255,255,255,0.05);}
.datalist li dl dt{ min-height:4rem; line-height:4rem; float:left; color:#998256;}
.datalist li dl dd{ float:right; line-height:4rem; color:#deb774;}
.datalist li dl dd span{ color:#ecae33}
.datalist li .lead{ background:#998256; height:4rem; margin-bottom:0.4rem; padding:0 2rem; color:#fff; line-height:4rem; font-size:1.3rem;}
.datalist li .lead h5{ float:left; font-size:1.3rem;}
.datalist li .lead span{ float:right; font-size:1.3rem;}
.datalist li .allinfo{ background:#303030; border-top:solid 0.1rem rgba(255,255,255,0.1) }

/* 主界面-banner */
.mainbox{ padding-bottom:6rem;}
.banner{ position:relative; z-index:1; overflow:hidden;}
.main_visual{overflow:hidden; position:relative;}
.main_image{overflow:hidden; position:relative;}
.main_image ul{overflow:hidden; padding-top:38%;}
.main_image li{float:left;width:100%; padding-top:38%; position:relative;}
.main_image li img{ width:100%; position:absolute; height:100%; left:0; top:0;}
.main_image li span{display:block;width:100%;}
.main_image li a{display:block;width:100%;}
div.flickingbox{position:absolute;bottom:0.6rem;left:50%;z-index:999;}
div.flicking_con{margin:0 0 0 -50%;}
div.flicking_con a{float:left;width:0.6rem;height:0.6rem;margin:0rem 0.5rem;padding:0;background:#fff; display:block; border-radius:0.5rem; opacity:0.5; box-shadow:0rem 0rem 0.3rem rgba(0,0,0,0.6)}
div.flicking_con a.on{ opacity:0.8; width:2rem;}

#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:7rem!important;height:7rem!important;top:50%;margin-top:-3.5rem;display:none;}
#btn_prev{left:0;}
#btn_next{right:0;}

.shopimg ul{padding-top:100%;}
.shopimg ul li{padding-top:100%;}


/* 主界面-用户信息 */
.mainuser{ margin:1rem; background:#303030; border-radius: 0.4rem; box-shadow: 0 0 1rem rgba(0,0,0,0.2)}
.title{ height:3.6rem; line-height:3.6rem; border-bottom:0.1rem solid #deb774; padding:0rem 1rem;}
.title h2{ float:left; font-size:1.3rem; color:#998256}
.title h2 span{ color:#ffd881}
.title h3{ float: left; width: 2rem; height: 3.6rem; color: #ffd881; text-shadow: 0.1rem 0.1ren 0 #8c7446; text-align: center; font-size: 0.9rem;}
.title h3.level{ background:url(../images/miniicon1.png) no-repeat center center; background-size:1.8rem 1.8rem;}
.title h3.honor{ background:url(../images/miniicon2.png) no-repeat center center; background-size:1.8rem 1.8rem;}
.title h5{ float:right; font-size:1.3rem; margin:0.6rem 0;}
.title h5 img{ width:2rem; height:2rem; opacity:1; margin:1rem 0;}
.title h5 a{ display:block; border-radius:1.2rem; padding:0 1.5rem; font-size:1rem; color:#303030; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2); line-height:2.4rem; background:url(../images/btnbg.png) no-repeat center center; background-size: 100% 5rem; }

.mainuser .avatar{float:left;}
.avatar{ width:8rem; margin:2rem;  position:relative;z-index:10;}
.avatar img{ width:8rem; height:8rem; border-radius:4rem; position:relative; background:#fff; }
.avatar .level{ height:2.2rem; line-height:2.2rem; text-align:center; position:absolute; bottom:-0.5rem; left:0; width:100%; background:#ffbc1a; color:#FFF; font-size:1.2rem; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
.avatar .level:after{ background:none; position:absolute; 
border-bottom:2rem solid #ffbc1a;
border-left:2rem solid rgba(255,255,255,0);
border-top:2rem solid rgba(255,255,255,0);
border-right:2rem solid rgba(255,255,255,0); width:4rem; z-index:-1; bottom:2.2rem; left:0rem; height:0px;content:"";}

.assets{ padding:1rem 0;}
.assets li{ text-align:left; padding:1rem 0rem;  color:#998256; font-size:1.4rem; box-sizing:border-box; padding-left:2rem; height:6rem; overflow:hidden;}
.assets li p{ overflow:hidden;line-height:2rem;}
.assets li p img{float:left; width:1.8rem; height:1.8rem; padding:0.1rem 0.2rem 0 0;}
.assets li span{ color:#ffd881; font-size:1.8rem; padding-left:0.3rem;line-height:2rem;}


/* 主界面-图标链接 */
.applink{ padding:0rem 1rem;}
.applink ul{ overflow:hidden; background:#303030; box-shadow: 0 0 1rem rgba(0,0,0,0.2); border-radius:0.4rem;}
.applink li{ text-align:center; font-size:1.2rem; line-height:2rem; padding:1rem 0; -border-left:solid 0.1rem #eee; -border-bottom:solid 0.1rem #eee; -margin-left:-0.1rem; position:relative;}
.applink li span{ position:absolute;left:60%; top:1.2rem; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center;}
.applink li img{ width:4.8rem; margin:0.5rem; opacity:1;}
.applink li a p{ color:#998256}

.nocontent{ font-size:1rem; line-height:2rem; color:#625641; text-align:center; padding:1rem 0 0 0;}


.newslist{ margin:0rem 1rem 1rem 1rem; border-radius:0.4rem; background:#303030;}
.newslist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem rgba(255,255,255,0.1); white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.newslist li:first-child{ padding-top:1rem;}
.newslist li:last-child{ border-bottom:none}
.newslist li:nth-child(5n){ border-bottom:solid 1rem #101522; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}
.newslist li time{ color:#998256; display:block; font-size:1.2rem;}


/* 主界面新闻滚动列表 */
.mnewslist{box-sizing:border-box; padding-left:2.4rem; background:url(../images/miniicon7.png) no-repeat 0.5rem center; height:3rem; background-size:1.8rem 1.8rem; -box-shadow:0rem 0rem 0.3rem rgba(0,0,0,0.3); overflow:hidden; margin:1rem 1rem 1rem 1rem; border-radius:0.4rem; position:relative; z-index:2;}
.mnewslist li{ font-size:1.2rem; line-height:3rem; height:3rem; text-overflow:ellipsis;white-space:normal; overflow:hidden;}
.mnewslist li a{ color:#dfb772}



/* 子菜单页面 */
.navicon{ background:#303030; margin:0rem 1rem 1rem 1rem; padding:1rem 0rem; border-radius:0.4rem;}
.navicon li{ text-align:center;font-size:1.2rem; line-height:2rem; position:relative;}
.navicon li.qq i{ color:#09F}
.navicon li.weixin i{ color:#3C3}
.navicon i{ color:#deb774; text-shadow: 0.1rem 0.1rem 0rem #282828; font-size:2.6rem; padding:0.5rem 0;}
.navicon li p{ color:#998256}
.navicon span{ position:absolute; left:55%; top:0; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center;}
/* 给各个图标定义颜色 
.navicon li:nth-child(5n+1) i{ color:#51c4ff}
.navicon li:nth-child(5n+2) i{ color:#18dfb7}
.navicon li:nth-child(5n+3) i{ color:#4bc8ec}
.navicon li:nth-child(5n+4) i{ color:#50b4ba}
.navicon li:nth-child(5n) i{ color:#28abff}*/


.notice{ background:#303030; margin:0rem 1rem 1rem 1rem; border-radius:0.4rem;}

.maillist{ background:#303030; margin:0rem 1rem 1rem 1rem; border-radius:0.4rem;}
.maillist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem rgba(255,255,255,0.1); }
.maillist li:first-child{ padding-top:1rem;}
.maillist li:last-child{ border-bottom:none}
.maillist li:nth-child(5n){ border-bottom:solid 1rem #282828; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}

.maillist li h2{ font-size:1.7rem; float:left; line-height:2.2rem; color:#deb774;}
.maillist li time{ float:right; font-size:1.2rem; color:rgba(255,255,255,0.4);}
.maillist li h5{ font-size:1.5rem; line-height:3rem;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#998256;}
.maillist li p{ color:#999; font-size:1.2rem;}
.maillist li.new h2 ,.maillist li.new h5{ color:#ffd881;}

.mailtl{ background:#303030; padding:1rem; }
.mailtl h2{ font-size:1.6rem; float:left; line-height:2.6rem; }
.mailtl h2 span{ color:#666;}
.mailtl time{ font-size:1.4rem; color:#999; line-height:2.6rem; float:right;}
.mailtl h5{ font-size:1.4rem; line-height:1.8rem;color:#ffd881;}

.replybox{ background:#303030; position:fixed; bottom:5rem; z-index:99; left:0; width:100%; padding:0.5rem; box-sizing:border-box;}
.replybox .txtabox{ width:80%; float:left; box-sizing:border-box; background:rgba(255,255,255,0.1); border:solid 0.1rem rgba(255,255,255,0.2); padding:0.5rem; min-height:3rem; max-height:5.4rem; font-size:1.6rem; user-modify: read-write-plaintext-only; overflow:auto; border-radius:0.3rem; line-height:1.8rem; outline:none; color:#deb774;}
.replybox .txtabox:focus{ background:rgba(255,255,255,0.2); box-shadow:0px 0px 0.5rem rgba(222,183,116,0.8); border:solid 0.1rem rgba(222,183,116,0.6); z-index:20}
.replybox .btnreply{float:right; width:18%; height:3rem; border:none; border-radius:0.3rem; outline:none; font-size:1.3rem; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15); position:absolute; bottom:0.5rem; right:0.5rem;}


.mailcont{ margin-bottom:11rem; padding:0.5rem;}
.mailcont li{ position:relative; padding:1rem; clear:both; overflow:hidden; }
.mailcont li h2{ font-size:1.4rem; color:#fff; margin-bottom:0.4rem; padding-left:1rem;}
.mailcont li time{ font-size:1.2rem; color:#999; margin-bottom:0.4rem; display:block; padding-left:1rem;}
.mailcont li .msgcont{ line-height:1.8rem; padding:1rem; font-size:1.4rem; box-shadow:0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1); position:relative; border-radius:0.4rem; }
.mailcont li .msgcont img{ display:block; max-width:100%; border-radius:0.3rem; margin-bottom:0.6rem;}
.mailcont li.receive{ padding-right:15%;}
.mailcont li.send{ padding-left:15%;}
.mailcont li.receive .msgcont{ background:rgba(255,255,255,0.1); float:left;}
.mailcont li.receive .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:none;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:0.8rem solid rgba(255,255,255,0.1); width:0rem; z-index:1; top:1rem; left:-0.8rem; height:0px;content:"";}
.mailcont li.send time{ text-align:right;}
.mailcont li.send h2{ text-align:right;}
.mailcont li.send .msgcont{ background:#ffd881; float:right; color: #303030;}
.mailcont li.send .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:0.8rem solid #ffd881;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:none ; width:0rem; z-index:1; top:1rem; right:-0.8rem; height:0px;content:"";}


/* 会员中心 */
.membercentre{ height:4.4rem;}
.membercentre h2{ color:#deb774;}
.userinfo{ text-align:center; -text-shadow:0rem 0rem 0.5rem rgba(0,0,0,0.2)}
.userinfo .avatar{ margin:auto;}
.userinfo h1{ color:#ffd881; padding:1rem 0rem 0rem 0rem; font-size:2.2rem;}
.userinfo h2{ color:#998256; padding:1rem 0rem 0rem 0rem; font-size:1.6rem;}
.userinfo h4{ color:#998256; opacity:0.9; padding-bottom:1rem; font-size:1.1rem;}
.userinfo .avatar .level{ background:#deb774; color:#303030; text-shadow:none;}
.userinfo .avatar .level:after{ border-bottom:2rem solid #998256;:}
.userinfo li{font-size:1rem; color:#998256;  margin:1rem 0;}
.userinfo li p{ overflow:hidden;}
.userinfo li span{ font-size:1.8rem; color: #ffd881}

.userassets{ text-align:center; padding:1rem 0; background:#303030; text-shadow:0rem 0rem 0.5rem rgba(0,0,0,0.2); margin:0rem 1rem 1rem 1rem; border-radius:0.4rem;}
.userassets li{ font-size:1rem; color:#998256;  margin:1rem 0;}
.userassets li p{ overflow:hidden;}
.userassets li span{ font-size:1.8rem; color:#ffd881}
.userassetss{background:#303030;}

.ucentericon li{ margin:1.5rem 0;}
.ucentericon li i{ color:#deb774; text-shadow: 0.1rem 0.1rem 0rem #282828;}

.entryinfo dd>div.option{padding:0.5rem 1rem 0.5rem 9rem;}
.option{ padding:0.5rem 1rem 0.5rem 1rem;}
.option li{ box-sizing:border-box; padding:0.5rem 0.5rem; line-height:3rem;}
.option li a{ border:solid 0.1rem rgba(255,255,255,0.2); border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:rgba(255,255,255,0.1);}
.option li.active a{ border:solid 0.1rem #ffd881; background:#ffd881; color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2)}
.option li.disabled a{border:solid 0.1rem #ccc; background:#ddd; color:#aaa}




/* 提示提醒 */
.promptbox{ padding:6rem 2rem 0rem 2rem;}
.promptcont{ background:#fff; border-radius:0.4rem; position:relative; padding:4rem 2rem 3rem 2rem;}
.prompticon{ position:absolute; left:50%; top:-4rem; width:8rem; height:8rem; box-sizing:border-box; margin-left:-4rem; border-radius:8rem; overflow:hidden; background:#fff; padding:1.5rem 0rem; font-size:5em; color:#ffbc1a; text-align:center;}
.prompttext{ text-align:center;}
.prompttext h2{ font-size:1.6rem; color:#ffbc1a; margin-bottom:0.4rem;}
.prompttext p{ font-size:1.2rem; color:#999;}

.tipsbox{ padding:1rem; -border-bottom:0.1rem #fad12f solid; background:rgba(12,1,22,0.4);}
.tipsboxtl{ font-size:1.2rem; color:#ffbc1a; margin-bottom:0.4rem;}
.tipscont{ line-height:2.2rem; font-size:1rem;}
.tipscont p{ margin-bottom:0.6rem;}
.tipscont p span{ font-size:1.2rem; color:#ffbc1a;}

/* 搜索操作 */
.operating{ background:#303030; border-radius:0.4rem; margin:0 1rem; padding:1rem 1rem 0rem 1rem;}
.searchbox{padding-bottom:1rem;}
.searchbox input.searchtext{ border-radius:0.4rem; height:3.2rem; width:76%; float:left; box-sizing:border-box; padding:0 1rem; font-size:1.3rem; margin:0 1%;}
.searchbox input.searchtexth{ border-radius:0.4rem; height:3.2rem; width:54%; float:left; box-sizing:border-box; padding:0 1rem; font-size:1.3rem; margin:0 1%;}
.searchbox button.operatebtn{border-radius:0.4rem; height:3.2rem; width:20%; float:left; box-sizing:border-box; font-size:1.1rem; border:none; outline:none; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2); margin:0 1%;background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem;}

.searchdate{ display:none;transition:height 0s, opacity 0.5s;}
.searchdate dl{ overflow:hidden; margin-bottom:1rem;}
.searchdate dl input[type="text"]{ height:3.2rem; padding:0 1rem;; box-sizing:border-box; font-size:1.3rem; width:45%; border-radius:0.4rem;}
.searchdate dl dt{ float:left; width:20%; font-size:1.3rem; line-height:3.2rem; color:#998256;}
.searchdate dl dd{ float:left; width:80%; font-size:1.3rem; line-height:3.2rem;}
.searchdate dl dd span{ color:#998256; padding:0rem 0.5rem;}
.searchmore{ font-size:1.1rem; text-align:center; color:#998256; padding-bottom:1rem;}
.searchmore span{ margin-right:0.5rem; line-height:1.2rem}
.searchmore i{ font-size:1.3rem;}
.seatatebox{ padding-left:0.5rem;}
.fastdate li{ text-align:center; padding:0rem 0.5rem; box-sizing:border-box;}
.fastdate li a{ border:solid 0.1rem rgba(255,255,255,0.2); border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:rgba(255,255,255,0.1);}
.fastdate li.active a{ border:solid 0.1rem #ffd881; background:#ffd881; color:#303030;text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2)}

/* 图片列表 */
.imglist{ padding:0.5rem;}
.imglist li{padding:0.5rem; box-sizing:border-box;}
.imglist li a{ display:block; background:#303030; -border:solid 0.1rem rgba(255,255,255,0.2); box-sizing:border-box; padding-bottom:1rem; border-radius:0.4rem; overflow:hidden;}
.imglist li a p{position:relative; width:100%; padding-top:100%;}
.imglist li a p img{ width:100%; height:100%; position:absolute; left:0; top:0;}
.imglist li a h2{ font-size:1.2rem; padding:0.4rem 0.6rem; line-height:1.6rem;}
.imglist li a span{ color:#ffbc1a; font-size:1.4rem; padding:0.4rem 0.6rem;}


.fixedcart{ position:fixed; right:1rem; bottom:10rem; width:5rem; height:5rem; z-index:40; background:rgba(0,0,0,0.5); color:#fff; padding:1.1rem; font-size:2.8rem; border-radius:50%;  box-sizing:border-box; opacity:0.9; box-shadow:0 0 0.5rem rgba(0,0,0,0.3)}
.fixedcart i{ color:#fff; opacity:0.9;}
.fixedcart span{position:absolute; right:0rem; top:0rem; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; line-height:1.8rem; color:#fff; min-width:0.8rem; text-align:center;}

/* 图片信息 */
.comminfo{ background:rgba(255,255,255,0.1); margin-bottom:1rem;}
.comminfo h1{ font-size:1.6rem; padding:0.5rem 1rem;}
.comminfo h3{ font-size:2.2rem; padding:0.5rem 1rem; color:#ffbc1a}
.comminfo dl{ overflow:hidden; clear:both; min-height:3.2rem;}
.comminfo dl dt{ width:7rem; text-align:right; padding-right:0.5rem; font-size:1.3rem; line-height:3.2rem; color:#999; float:left;}
.comminfo dl dd{ float:left;min-height:3.2rem; line-height:3.2rem;}
.comminfo dl dd input.txtamount{ height:3.2rem; box-sizing:border-box; padding:0rem 0.5rem; font-size:1.3rem; width:7rem; vertical-align:middle; font-size:1.4rem; text-align:right;}
.comminfo dl dd span{ font-size:1.6rem; color:#ffbc1a}
.comminfo dl dd button.btnminus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:1.6rem; color:#999;}
.comminfo dl dd button.btnplus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:1.6rem; color:#999;}

.commcont{ width:100%; overflow:hidden;}
.commcont img{ max-width:100%;}


/* 购物车 */
.cartlist{ background:#303030;}
.cartlist ul{}
.cartlist>dl{ clear:both; overflow:hidden; padding:1rem; border-bottom:solid 0.1rem rgba(255,255,255,0.1);}
.cartlist>dl>dt{ float:left;}
.cartlist>dl>dt img{ width:7rem; height:7rem; margin-right:1rem; border-radius:0.3rem; float:left;}
.cartlist>dl>dd{ overflow:hidden;}
.cartlist>dl>dd .cartcomminfo{ float:left; width:100%;}
.cartlist>dl>dd .delbtn{ float:right; height:9rem; width:4rem; background:#ffc045; border:solid 0.1rem #ffc045; font-size:1.2rem; color:#fff; display:none;}
.cartlist>dl>dd button.delbtn i{ font-size:2.4rem;}

.cartlist>dl>dt.checkdt{ width:2rem;}
.cartlist>dl>dt.checkdt zzlabel{width:1.6rem; height:1.6rem; box-sizing:border-box; border:solid 0.1rem #aaa; display:block; border-radius:50%; overflow:hidden;}
.cartlist>dl>dt.checkdt input[type="checkbox"]{ width:1.7rem; height:1.7rem; float:left; margin:2.6rem 0.4rem 0 0; -opacity:0;border-radius:50%; overflow:hidden;}
.cartlists>dl{ clear:both; overflow:hidden; padding:1rem; border-bottom:solid 0.1rem #eee;}
.cartlists>dl>dd .cartcomminfo{ float:left; width:25rem;}

.cartlist>dl>dd .cartcomminfo{}
.cartlist>dl>dd .cartcomminfo h1{font-size:1.3rem; color:#DAAF5C}
.cartlist>dl>dd .cartcomminfo h2{ overflow:hidden; height:4rem; font-size:1.3rem; line-height:2rem; margin-bottom:1rem;}
.cartlist>dl>dd .cartcomminfo h3{ color:#ffbc1a; font-size:1.4rem; margin-bottom:0.6rem; line-height:2.2rem;}
.cartlist>dl>dd dl{ overflow:hidden; clear:both; min-height:2.2rem;}
.cartlist>dl>dd dl dt{ text-align:left; font-size:1.4rem; line-height:2.2rem; color:#ffbc1a; float:left;}
.cartlist>dl>dd dl dd{ float:right; min-height:2.2rem; line-height:2.2rem;}

.cartlists>dl>dd .cartcomminfo h2{ overflow:hidden; height:2rem; font-size:1.3rem; line-height:2rem; margin-bottom:1rem; text-overflow: ellipsis; white-space: nowrap;}

.cartlist>dl>dd dl dd span{ font-size:1.3rem; color:#DAAF5C}
.cartlist>dl>dd dl dd button.btnminus{ width:2.2rem; height:2.2rem; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:0.8rem; outline:none;  background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
.cartlist>dl>dd dl dd button.btnplus{ width:2.2rem; height:2.2rem;  box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:0.8rem; outline:none;  background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
.cartlist>dl>dd dl dd input.txtamount{ height:2.2rem; box-sizing:border-box; padding:0rem 0.5rem; width:4rem; vertical-align:middle; font-size:1.4rem; text-align:right;}

.orderbriefly{ background:#303030; padding:0.5rem 3rem 0.5rem 1rem; position:relative;}
.orderbriefly{ height:3rem; line-height:3rem; font-size:1.2rem; color:#998256}
.orderbriefly span{ color:#ffd881; padding-right:1rem;}
.orderbriefly span.status{ float:right; padding:0;}
.orderbriefly span.sum{color:#ffbc1a; font-weight:bold;}
.orderbriefly span.ship{ color:#37c329}
.orderbriefly span.noship{ color:#f44e4e}
.orderbriefly time{ padding-right:2rem;}
.orderbriefly i{ position:absolute; right:1rem; font-size:2rem; line-height:3rem;}
.orderinfo { line-height:2rem; font-size:1.1rem; padding:0.6rem; color:#998256; background:rgba(255,255,255,0.05)}
.orderinfo a{ color:#ffbc1a}
.orderinfo li{ overflow: hidden;}
.orderinfo li span{ float: left;}
.orderinfo li p{ overflow: hidden;}


.ordertotal{ background:rgba(255,255,255,0.1); padding: 0.5rem 1rem; height:3rem; line-height:3rem; margin-top:-0.2rem; border-top:dashed 0.15rem rgba(255,255,255,0.1); position:relative; z-index:100; font-size:1.3rem;}
.ordertotal span{color:#e3a736; padding:0 0.3rem; font-size:1.5rem;}
.ordertotal a{ color:#56b1b6}
/*
.ordertotal:after{background:#f2f3f4; position:absolute; height:1rem; width:1rem; z-index:100; top:-0.5rem; left:-0.5rem; content:""; border-radius:0.5rem;}
.ordertotal:before{background:#f2f3f4; position:absolute; height:1rem; width:1rem; z-index:100; top:-0.5rem; right:-0.5rem; content:""; border-radius:0.5rem;}
*/

.orderlist{ padding:1rem;}
.orderlist>ul>li{ margin-bottom:1rem; position:relative; border-radius:0.3rem; overflow:hidden; background:#303030}

.allinfo{display:none; opacity:0; transition:height 0s, opacity 0.5s;}
.allinfoheigth{opacity:1}




.loadbox{ width:10rem; height:10rem; position:fixed; left:50%; top:50%; margin:-5rem 0 0 -5rem; z-index:30;}
.loading{ background:url(../images/load.png) no-repeat; width:10rem; height:10rem; background-size:100% 100%; position:relative;}
.loading img{ box-sizing:border-box; padding:1rem; width:10rem; height:10rem; border-radius:50%;}
.loadpro{ position:absolute; background:url(../images/loading.png) no-repeat;width:10rem; height:10rem; background-size:100% 100%; left:0; top:0;
animation:lardret linear 2s infinite;}
@keyframes lardret{
0%   {transform:rotate(0deg);}
25%  {transform:rotate(90deg);}
50%  {transform:rotate(180deg);}
75%  {transform:rotate(270deg);}
100% {transform:rotate(360deg);}
}

/* 信息提示框 */
.promptbg{ height:100% !important; width:100%; position:fixed; z-index:998; background:rgba(0,0,0,0.5); left:0; bottom:-120%; opacity:0;}
.promptbgbox{width:100% !important; position:fixed; z-index:999; background:#191f32; left:0; bottom:-120%;opacity:0;}
.promtotal{ width: 100%; height: 100%; position: fixed; left: 0; box-sizing: border-box; padding: 3rem; background: #fff; background-clip: content-box; border-radius: 3.4rem;bottom:0;z-index:999;bottom:-120%;opacity:0; overflow: hidden;}
.promptbottom{bottom:0; opacity:1;}

/* 系谱图 */
.userlevel{ padding-bottom:1rem;}
.userlevel li{ padding:0 1%; box-sizing:border-box; line-height:1.8rem; text-align:center;}
.userlevel li span{border-radius:0.3rem;}
.leveln span{ background:#ffffff; display:block; font-size:0.8rem;}
.level0 span{ background:#c8c9ce; color:#a6a6a6; display:block; font-size:0.8rem;}
.level1 span{ background:#f7ab5c; color:#df5821; display:block; font-size:0.8rem;}
.level2 span{ background:#abaed4; color:#666b9b; display:block; font-size:0.8rem;}
.level3 span{ background:#f7d01f; color:#fffab3; display:block; font-size:0.8rem;}
.level4 span{ background:#f564b4; color:#ffd9e7; display:block; font-size:0.8rem;}
.level5 span{ background:#a3a6af; color:#e1e5ee; display:block; font-size:0.8rem;}

.pedigreebox{ overflow:auto; padding:1rem 0;}
.memberpedigree{ display:table-cell}
.memberpedigree .panels{ margin-bottom:0px; text-align:center;	border: 1px solid transparent;	border-color: #ddd;	border-radius: 4px;	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);	box-shadow: 0 1px 1px rgba(0,0,0,.05)}
.memberpedigree li{ display:table-cell; width:1%;}
.memberpedigree ul{ width:100%;}

.memberpedigree .pedigreedata{ padding:0px;}
.memberpedigree .pedigreedata table{ width:100%; background:#fff; border-collapse:collapse;border:solid 0.1rem #ddd; border-top:none; border-radius:0.3rem;}
.memberpedigree .pedigreedata table th, .memberpedigree .pedigreedata table td{ border-bottom:solid 0.1rem #ddd; text-align:center; color:#505a55; font-size:0.8rem;}
.memberpedigree .memberbox{ width:8rem; margin:auto; padding:0 0.5rem; line-height:1.6rem; text-align:center;}
.memberpedigree .memberbox .userpedigree{ border-radius:0.3rem; overflow:hidden; box-shadow:0 0 0.2rem rgba(51,51,51,0.2)}

.pedigreeline{ width:50%; margin:auto; font-size:0px; line-height:0px; overflow:hidden}
.pedigreeline>div{font-size:0px; line-height:0px;}
.pedigreeline .pedigreelinetop{ width:0.1rem; margin:auto; height:1.5rem;  background:#CCC;}
.pedigreeline .pedigreelinemiddle{ height:1.5rem; border:solid 0.1rem #ccc; border-bottom:none; border-radius:0.5rem 0.5rem 0 0;}

/* 树形结构 */
.usertree{ margin:1rem; font-size:1.3rem; overflow:auto; line-height:3rem;}
.usertree dt{ line-height:3rem; height:3rem; line-height:3rem; height:3rem; display:block; white-space:nowrap;}
.usertree dt i{ color:rgba(255,255,255,0.7); width:2rem; text-align:center;}
.usertree dd{ transition:height 0s, opacity 0.5s; margin-left:1rem; display:none; border-left:dotted 0.1rem #999; padding-left:0.8rem;}
.usertree dd:nth-last-child(1){ border-left:none;}
.usertree dt span{ position:relative; width:2rem; height:3rem; display:inline-block; float:left;}
.usertree dt span.adult{ background:url(../images/treeclose.png) no-repeat 0.5rem 0.8rem; background-size:1.2rem; position:relative;}
.usertree dt.bg span.adult{background:url(../images/treeopen.png) no-repeat 0.5rem 0.8rem;background-size:1.2rem;}

.usertree dt span:after{background:none; border-left:dotted 0.1rem #999; position:absolute; height:3rem; z-index:-1; top:0.1rem; left:1rem; content:"";}
.usertree dt span:before{background:none; border-top:dotted 0.1rem #999; position:absolute; width:1rem; z-index:-1; top:1.35rem; left:1rem; content:"";}
.usertree>dl>dt:nth-of-type(1) span:after{height:1.5rem;top:1.4rem;}
.usertree dl dt:nth-last-of-type(1) span:after{height:1.5rem; top:0rem;}
.usertree dt input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0;}

.leveldivision{ padding:1rem; border-bottom:solid 0.1rem #eee;}
.leveldivision li{ font-size:1rem; text-align:center;}
.leveldivision span{ color:#f90; font-size:1rem;}
.leveldivision i{ font-size:3rem;}
.levelgeneral{margin-bottom:0.6rem; color:#1f9de9}
.levelsilver{margin-bottom:0.6rem; color:#c2c5c7}
.levelgold{margin-bottom:0.6rem; color:#efc648}

.bigtitle{ background:#fff; padding:1rem; height:3.2rem; box-sizing:border-box;}
.bigtitle h2{ float:left; font-size:1rem; color:#53595e;}

.operation{ padding:0.5rem; background:#303030; margin-bottom:1rem;}
.operation li{ padding:0 0.5rem; box-sizing:border-box; line-height:3.2rem; font-size:1.2rem;}
.operation li input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0; border-radius:50%;}

.shareqr{ background:url(../images/share.jpg) no-repeat; background-size: cover;}
.shareqr .userinfo{ background: none;}
.shareqr header{ background: none; border: none;}
.shareqr header h2{ color: #deb774;}

.qrcodebox{ padding: 3rem;}
.qrcodecont{ background: #fff; border-radius: 0.5rem; padding: 2rem;}

.qrcodecont .userinfo h2{ color: #3a362b;}
.qrcodecont .userinfo h4{ color: #5f5b4d; font-size: 1.2rem;}

.qrcodeimg{ text-align: center;}
.qrcodeimg img{ width: 18rem; height: 18rem; padding-bottom: 1rem;}
.qrcodeimg h3{ color:#555;}

.shareicon{ padding: 0 2rem;}
.shareicon li{text-align: center; box-sizing: border-box;}
.shareicon li a{ padding: 1rem; display: block;}
.shareicon li i{ font-size: 2rem;}

.shareicon li:nth-child(1) a i{color: #3498db;}
.shareicon li:nth-child(2) a i{color: #34db48;}
.shareicon li:nth-child(3) a i{color: #e82f2f;}
.shareicon li:nth-child(4) a i{color: #2f5be8;}
.shareicon li:nth-child(5) a i{color: #f7b518;}

/* 物流信息 */
.totalinfo{ overflow: auto; height: calc(100% - 19rem); position: relative; box-sizing: border-box; padding: 1rem;}
.totalinfo ul{ position: relative;}
.totalinfo ul:before{position:absolute; height:100%; width:1rem; z-index:-1; top:0rem; left:6.2rem; content:""; border-left: solid 0.1rem #ddd;}
.totalinfo li{ overflow: hidden; font-size: 1rem; margin-bottom: 1rem; line-height: 1.4rem;}
.totalinfo li time{ float: left; color: #999; width: 5rem; text-align: right;}
.totalinfo li span{ float: left; margin: 0.3rem 1rem; width: 0.5rem; height: 0.5rem; background: #999; border-radius: 0.5rem; overflow: hidden;}
.totalinfo li p{ overflow: hidden;}
.totalinfo li:nth-child(1) span{margin: 0.1rem 0.8rem; width: 0.9rem; height: 0.9rem;background: #56b1b6;}

/* 红包div */
.hongbao{ position:fixed; width:100%; height:100%; left:0; top:0; display:flex; z-index:9999}
.hongbaobox{ margin:auto; width:28rem; height:39rem; text-align:center; background:url(../images/hbbox.png) no-repeat; background-size:28rem 39rem;}
.hongbaobox h4{ color:#ffdc5d; font-size:2rem; padding-top:20rem;}
.hongbaobox h3{ line-height:5rem; font-size:3.6rem; color:#ffdc5d; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2); margin-bottom:3rem;}
.hongbaobox h3 span{ font-size:2rem;}
.hbbtn img{ width:18rem;}
.hongbaoh{ display:none;}


/* 商城首页 */
.shopmain{ padding-top: 1.6rem;}
.shopheader{}
.shopheader{ position:fixed; height:6rem; background:#303030; background-size:100% 100%; left:0; top:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.8); border-bottom: solid 0.1rem #deb774}
.shopheader li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative; box-sizing: border-box;height:6rem;}
.shopheader li a{ color:#deb774; padding-top:4.2rem; display:block;}
.shopheader li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
.shopheader li img{ width:3rem; margin:0.7rem;}
.shopheader li.active{ opacity: 1; border-bottom: solid 0.2rem #deb774;}

.shopheader li:nth-child(1){ background:url(../images/shopicon1.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem ;}
.shopheader li:nth-child(2){ background:url(../images/shopicon2.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}
.shopheader li:nth-child(3){ background:url(../images/shopicon4.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}
.shopheader li:nth-child(4){ background:url(../images/shopicon3.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}

.shopfooter{}
.shopfooter{ position:fixed; height:5rem; background:#303030; background-size:100% 100%; left:0; bottom:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
.shopfooter li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative;}
.shopfooter li a{ color:#deb774; padding-top:3.5rem; display:block; opacity: 0.7}
.shopfooter li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
.shopfooter li img{ width:3rem; margin:0.7rem;}
.shopfooter li.active{ opacity: 1;}

.shopfooter li:nth-child(1) a{ background:url(../images/iconfoot6.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li:nth-child(2) a{ background:url(../images/iconfoot7.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li:nth-child(3) a{ background:url(../images/iconfoot1.png) no-repeat center 0.5rem; background-size:3rem 3rem;}


.shopfooter li.active:nth-child(1) a{ background:url(../images/iconfoot6s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.active:nth-child(2) a{ background:url(../images/iconfoot7s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.active:nth-child(3) a{ background:url(../images/iconfoot1s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.ch a{ background:url(../images/china.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.jpn a{ background:url(../images/japen.png) no-repeat center 0.5rem; background-size:3rem 3rem;}

footer li ul{position:fixed; bottom:-15rem; width:12rem; right:0rem; background:#303030;box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
footer li ul li{height:4.4rem; float:none; width:100%;}
footer li ul li a{padding:0rem 0rem; line-height:4.4rem; display:block; opacity:1; background:none !important; font-size:1.2rem; text-align:left;}
footer li ul li a img{width:3rem; margin:0.7rem; float:left;}
footer li ul.flanguages{bottom:5rem;}

.shopfooter li ul{position:fixed; bottom:-15rem; width:12rem; right:0rem; background:#303030;box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
.shopfooter li ul li{height:4.4rem; float:none; width:100%;}
.shopfooter li ul li a{padding:0rem 0rem; line-height:4.4rem; display:block; opacity:1; background:none !important; font-size:1.2rem; text-align:left;}
.shopfooter li ul li a img{width:3rem; margin:0.7rem; float:left;}
.shopfooter li ul.flanguages{bottom:5rem;}

/* 商品抢购列表 */
.shoplist{ padding:1rem 0.5rem;}
.shoplist li{border-radius: 0.4rem; padding:0rem 0.5rem; margin:0rem 0rem 1rem 0rem; width:50%; float:left; box-sizing:border-box; }
.shopimg{width: 100%; height: 9.6rem;}
.shopimg img{width:100%; height: 9.6rem; border-radius: 0.4rem 0.4rem 0rem 0rem;}
.shoppic{ padding:1rem; background:#303030; border-radius:0rem 0rem 0.4rem 0.4rem;}
.shoppic h2{ font-size: 1.4rem; line-height: 1.5rem; color:#deb774; height: 3rem; overflow: hidden; margin-bottom: 0.6rem;}
.shoppic>p{ font-size: 1.2rem; color: #ffd881;}
.shoppic>p span{ font-size: 1.8rem;}
.shoppic>del{ font-size: 1.2rem; color: #998256;}

.percentage{width: 100%; margin-top: 0.5rem; background:#998256; height: 1.4rem; border-radius: 0.7rem; overflow: hidden; color: #282828; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2); position: relative; float: left;}
.percentage>span{position: absolute; line-height: 1.5rem; font-size: 1rem; left: 0.8rem;}
.percentage>p{ background:#deb774;height: 1.4rem; border-radius: 0.7rem; }

.buyshop{ position:relative}
.buyshop>a.buyitnow{ height: 2.4rem; font-size: 1.2rem; float: right; width: 7rem; border-radius: 1.2rem; line-height: 2.4rem; text-align: center;  display: block; color:#303030; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2); background:#deb774 url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem; position:absolute; right:0rem; bottom:1.8rem;}

.cnewslist{ padding: 1rem;}
.cnewslist li{ padding: 1rem 0rem; border-bottom:solid 0.1rem rgba(255,255,255,0.1); overflow: hidden;}
.cnewslist li h2{font-size:1.6rem; color: #deb774; line-height: 1.8rem; margin-bottom: 0.6rem; max-height: 3.6rem; overflow: hidden;}
.cnewslist li p{font-size: 1.2rem; color: #998256; line-height: 1.4rem; margin-bottom: 0.6rem; max-height: 4.2rem; overflow: hidden;}
.aider{ font-size: 0.9rem; color: #625641;}
.aider span{ float: left; display: block; line-height: 1.2rem; height: 1.2rem;}
.cnewslist li img{width: 33.33%; box-sizing: border-box; padding: 0.2rem; border-radius: 0.6rem; height: 7rem; margin-bottom: 0.5rem;}
.aider .interactive{float: right;}
.aider .interactive span{padding-left: 1.4rem; margin-right: 0.5rem;}
.aider .interactive span.reading{background: url(../images/misicon1.png) no-repeat center left; background-size: 1.2rem 1.2rem;}
.aider .interactive span.comment{background: url(../images/misicon3.png) no-repeat center left; background-size: 1.2rem 1.2rem;}
.aider .interactive span.great{background: url(../images/misicon2.png) no-repeat center left; background-size: 1.2rem 1.2rem;}


.cnewslist li.imgam0{}
.cnewslist li.imgam1 h2{ width: 65%; margin-bottom: 2rem; float: left;}
.cnewslist li.imgam1 p{display: none}
.cnewslist li.imgam1 .newsimg{float: right; width: 33.33%}
.cnewslist li.imgam1 .newsimg img{width: 100%;}
.cnewslist li.imgam1 .aider{width: 65%}
.cnewslist li.imgam3 p{ display: none}

.videolist{ padding: 1rem 0rem;}
.videolist li{position: relative; background: #303030; box-shadow: 0 0 1rem rgba(0,0,0,0.5); margin-bottom: 1rem;}
.videolist li h2{position: absolute; line-height: 1.8rem; font-size: 1.6rem; top: 0.6rem; box-sizing: border-box; width: 100%; height: 3.6rem; overflow: hidden; padding:0rem 0.6rem}
.videolist .aider{padding: 0.8rem;}
.videolist li video{width: 100%; height:56% }


/* 详情评论相关 */
.appraisal{text-align: center; padding: 1rem;}
.appraisal a.givegreat{line-height: 3rem; font-size: 1.2rem; color: #deb774; padding-left: 2rem; background: url(../images/misicon2.png) no-repeat  1.5rem center; background-size: 2rem 2rem; border: solid 0.1rem #deb774; border-radius: 1.6rem; display: inline-block; padding: 0rem 2rem 0rem 4rem; margin:0rem 0.5rem;}
.appraisal a.givescoff{line-height: 3rem; font-size: 1.2rem; color: #deb774; padding-left: 2rem; background: url(../images/misicon4.png) no-repeat  1.5rem center; background-size: 2rem 2rem; border: solid 0.1rem #deb774; border-radius: 1.6rem; display: inline-block; padding: 0rem 2rem 0rem 4rem; margin:0rem 0.5rem;}


.newsaider{padding: 0rem 1rem;}
.leavebox{padding: 1rem; border-top: solid 0.1rem rgba(255,255,255,0.1)}
.leavebox .aider{padding: 0rem; padding-bottom: 0.6rem;}
.leavebox li{border-bottom: solid 0.1rem rgba(255,255,255,0.1); font-size: 1.2rem; padding-bottom: 1rem; margin-bottom: 1rem;}

.newrep{ -bottom: 0;}




























