﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">购物管理</a></li>
                    <li><a href="#UProductShop">在线购物</a></li>
                    <li class="active">商品详情</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <input type="hidden" id="productId" name="productId" />
                <div class="row">
                    <div class="col-sm-12">
                        <dl class="dl-inline" style="font-size:16px;font-weight:bold;">
                            <dt>商品编码：</dt>
                            <dd id="productCode"></dd>
                            <dt>商品名称：</dt>
                            <dd id="productName"></dd>
                            <dt></dt>
                        </dl>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-2" style="padding-right:0px;padding-top:5px;" id="pageMsg">
                        <img data-toggle="lightbox" id="imgUrl" src="" data-image="" class="img-thumbnail" alt="" style="width:225px;height:130px">
                    </div>
                    <div class="col-sm-5" style="padding-top:20px;">
                        <table class="table table-borderless">
                            <tr>
                                <td align="right" style="padding-top:15px;">购买数量：</td>
                                <td><input type="text" class="form-control" id="buyNum" name="buyNum" style="width:100px;" /></td>
                                <td align="right" style="padding-top:15px;">总金额：</td>
                                <td align="right"><input type="text" class="form-control" id="total" name="total" disabled="disabled" style="width:100px;" /></td>
                            </tr>
                            <tr>
                                <td align="right" style="padding-top:15px;">市场价：</td>
                                <td id="fxPrice" style="color: red; padding-top: 15px;"></td>
                                <td colspan="2" align="right">
                                    <button type="button" id="saveBtn" class="btn btn-primary" style="width:100px;"> 放入购物车 </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
    
                <div class="row" style="padding-left:10px;padding-top:20px;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-tab href="#tabContent1">商品描述</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="tabContent1" style="padding-top:10px;" >
                            <div class="col-sm-12" id="cont">

                            </div>
                        </div>
                    </div>
                    
                </div>
                <hr />
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cl"></div>

    </div>
