﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">财务查询</a></li>
                    <li class="active">账户转账</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <form class="form-horizontal" id="registerForm">
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-1">转账类型</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="typeId" name="typeId"></select>
                        </div>
                        <label for="exampleInputAccount4" class="col-sm-1">点值</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="agentDz"></label>
                        <label for="exampleInputAccount4" class="col-sm-1">奖金币</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="agentJj"></label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputAccount4" class="col-sm-1">会员编号</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="toUserId" name="toUserId" />
                        </div>
                        <label for="exampleInputAccount4" class="col-sm-1">会员姓名</label>
                        <label for="exampleInputAddress1" class="text-yellow col-sm-2" style="text-align:left;" id="toUserName"></label>
                        <label for="exampleInputAccount4" class="col-sm-1">转账金额</label>
                        <div class="col-sm-2">
                            <input class="form-control" id="epoints" name="epoints" />
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="saveBtn" class="btn btn-warning "> 提 交 </button>
                        </div>
                    </div>

                    <hr />
                </form>
                <div class="item-content">
                    <div class="text">
                        <table id="dg" class="easyui-datagrid" style="width:100%;height:400px" data-options="toolbar:'#memberTb'"></table>
                        <div id="memberTb" style="padding:2px 5px;">
                            <table>
                                <tr>
                                    <td style="vertical-align:middle;">
                                        <form id="QueryForm">
                                            <table>
                                                <tr>
                                                    <td>转账日期：</td>
                                                    <td>
                                                        <input type="text" class="form-control form-date" style="width: 100px;" placeholder="选择起始日期" id="startTime" name="startTime">
                                                    </td>
                                                    <td>&nbsp;至&nbsp;</td>
                                                    <td><input type="text" class="form-control form-date" style="width:100px;" placeholder="选择结束日期" id="endTime" name="endTime" /></td>
                                                    <td>&nbsp;&nbsp;转账类型：</td>
                                                    <td>
                                                        <select class="form-control" id="typeId2" name="typeId2"></select>
                                                    </td>
                                                    <td>&nbsp;&nbsp;<button type="button" id="mgQueryBtn" class="btn btn-primary"> 查 询 </button></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="cl"></div>

</div>
