﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0)">会员中心</a></li>
                    <li class="active">密保设置</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <hr />
            <form class="form-horizontal" id="registerForm">
                <div class="form-group" style="display:none" id="fristQuestion">
                    <label for="exampleInputAccount4" class="col-sm-2 col-sm-offset-3 required">密保问题</label>
                    <div class="col-sm-3">
                        <select class="form-control" id="question" name="question" emptymsg="请选择密保问题"></select>
                    </div>
                </div>
                <div class="form-group" style="display:none" id="oldQuestion">
                    <label for="exampleInputPassword4" class="col-sm-2 col-sm-offset-3 required">密保问题</label>
                    <div class="col-sm-3">
                        <div class="form-group" style="padding-left:10px;">
                            <label for="exampleInputAddress1" class="text-yellow" id="questionVal"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="oldDiv" style="display:none;">
                    <label for="exampleInputAccount4" class="col-sm-2 col-sm-offset-3 required">旧密保答案</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="oldAnswer" name="oldAnswer" emptymsg="旧密保答案不能为空">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputAccount4" class="col-sm-2 col-sm-offset-3 required">密保答案</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="answer" name="answer" emptymsg="密保答案不能为空">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-10">
                        <button type="button" id="saveBtn" class="btn btn-warning ">保存设置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="cl"></div>
</div>